
.menuItem{
    width: 300px;
    height: 350px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 20px;
    text-align: center;
}
.menuItem div{
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.menuList{
    display: grid;
}
.menuTitle{
    padding-left: 20px;
}
@media (min-width:576px) {
    .menuList{
        grid-template-columns: 1fr;
    }
}
@media (min-width:768px) {
    .menuList{
        grid-template-columns: 2fr 2fr;
    }

}
@media (min-width:992px) {
    .menuList{
        grid-template-columns: 2fr 2fr 2fr;
    }
}
@media (min-width:1200px) {
    .menuList{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 70vw;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
   
}